.App {
  font-family: 'Montserrat';
  font-style: normal;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  /* overflow-y: hidden; */
  /* overflow-x: hidden;  */
  /* background-color: #5C12A7; */
}

.App::-webkit-scrollbar {
  display: none;
}

.AppHeader {
  font-family: 'Montserrat';
  font-style: normal;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 4px 20px 4px 12px; */
  /* margin-left: 15px;
  margin-bottom: 10px;
  margin-top: 10px; */
  margin: 30px;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.15); */
}

.SidemenuAndPagecontent {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: flex-start;
  /* background-color: rgba(0, 0, 0, 0.05); */
  background-color: #5C12A7;
}

.SideMenu{
  height: 100%;
  /* margin-top: 35px; */
  background-color: #5C12A7;
  /* position: sticky; */
  /* top: 0px; */
}
.SideMenuVertical{
  margin-top: 35px;
  background-color: #5C12A7;
  color: white;
  /* position: sticky; */
}

/* span.ant-menu-title-content{
  color: white;
} */
/* span.anticon-compass.ant-menu-item-icon {
  color: white;
} */

/* span.ant-menu .ant-menu-submenu-title .ant-menu-item-icon {
  color: white;
} */

li.ant-menu-item.ant-menu-item-active.ant-menu-item-selected{
  background-color: rgba(242, 242, 248, 0.19);
}

.PageContent {
  margin: 35px 25px 35px 18px;
  background-color: #F2F2F8;
  border-radius: 40px;
  width: 100%;
  /* min-height: 100vh; */
  min-height: 1173px;
  /* width: 1100px; */
  /* height: 2500px; */
  overflow-y: hidden;
  overflow-x: hidden; 
}

/* .admin-energy-top {
  box-sizing: border-box;
  padding: 25px 10px 25px 10px;
  color: white;
} */
.admin-energy-top {
  /* padding: 1.5rem 2rem; */
  background: #FFFFFF;
  border-radius: 15px;
  filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.15));
  text-align: center;
  margin-bottom: 1rem;
  margin-left: 15px;
  /* min-width: none; */
  height: 60px;
  width: 198px;
  margin-top: 20px;
}

.top-card-1 {
  background: #FFFFFF;
  border-radius: 15px;
  text-align: center;
  /* margin-bottom: 1rem; */
  margin-left: 30px;
  /* min-width: none; */
  height: 60px;
  width: 198px;
  /* margin-top: 20px; */
}
.top-card-2 {
  background: #FFFFFF;
  border-radius: 15px;
  text-align: center;
  /* margin-bottom: 1rem; */
  margin-left: 10px;
  /* min-width: none; */
  height: 60px;
  width: 198px;
  /* margin-top: 20px; */
}

.card-content {
  margin-top: 10px;
  /* margin-left: 5px; */
  /* margin-right: 5px; */
}

.wyre-logo {
  margin-bottom: 15px;
  margin-left: 14px;
  margin-top: 72px;
}

.client-page-flex-display {
  display: flex;
  justify-content: space-between;
}

.client_table_percentage_container {
  width: 71%;
}

.percentage_container{
  background-color: #FFFFFF;
  width: 26%;
  height: 10%;
}

.client-user-table{
  /* width: 71%; */
  width: 740px;
}

.sidePage-add-user-container {
  /* width: 26%; */
  /* width: 409px;
  height: 10%; */
  background: #FFFFFF;
}
.set_target_psge {
  /* width: 25%; */
  /* height: 10%; */
  /* background: #FFFFFF; */
  /* padding: 15px; */
}
.form_demacation {
  /* display: inline; */
}

.sidePage-add-user input {
  background: #F2F2F8;
}

.user-center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  width: 25%;
}

.sidePage-add-user {
  padding: 15px;
}


/* AUTH Stuffs start */
/* Auth Header */
.header--auth {
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;
  padding-top: 16px;

  /* @include media('>=medium') { */
    align-items: center;
    box-shadow: 'grey-box-shadow';
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
  /* } */
}

.header-logo-and-hamburger--auth {
  display: flex;
  justify-content: space-between;
}

.header-logo-image--auth {
  height: 40px;
  width: 100px;

  /* @include media('>=medium') { */
    height: 50px;
    width: 122px;
  /* } */
}

.header-logo-latest-image--auth {
  height: 40px;
  width: 100px;

  /* @include media('>=medium') { */
    height: 100px;
    /* width: 220px; */
  /* } */
}

.hamburger-button--auth {
  border: 0;
  padding: 4px 10px;
}

.hamburger-button--auth {
  padding: 4px 0px 4px 20px;
}

.hamburger-button__image--auth {
  height: 24px;
  stroke: dark;
}

.header-nav--auth {
  padding: 20px 0;

  /* @include media('>=medium') { */
    /* padding: 0; */
  /* } */
}

.header-links-list--auth {
  /* @include media('>=medium') { */
    align-items: center;
    display: flex;
    padding-left: 'large-gutter';
    list-style-type: none;
  /* } */
}

.header-nav-list__item--auth {
  border-top: 'border-grey2' 1px solid;
  font-size: 1.4rem;
  padding: 15px 0;
  padding-left: 7px;

  /* @include media('>=medium') { */
    border-top: 0;
    margin-right: 0;
    padding: 10px 0;
    padding-right: 30px;
  /* } */

  /* &:last-of-type { */
    /* border-bottom: 'border-grey2' 1px solid;
    padding: 0; */
  /* } */
}

.header-short-button--auth {
  background-color: darkblue;
  border: 0;
  border-radius: 8px;
  color: white;
  display: block;
  font-weight: bold;
  padding: 13px 0;
  text-align: center;
  text-decoration: none;
  width: 75%;

  &:hover {
    color: white;
  }

  /* @include media('>=medium') { */
    padding: 13px 26px;
  /* } */
}

/* Auth Form */
.auth-page-container {
  box-shadow: 4px 0px 8px rgba(0, 0, 0, 0.15);
  padding-bottom: 120px;

  /* @include media('>medium') { */
    padding-bottom: 190px;
  /* } */
}

.signup-login-contact-form {
  /* padding: 70px $small-gutter; */
  /* padding-bottom: 0px; */
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;

  /* @include media('>medium') { */
    padding-top: 111px;
  /* } */
}

.first-heading--auth {
  /* color: darkblue; */
  /* font-size: 1.9rem; */
  font-weight: 'regular';
  margin-bottom: 28px;

  /* @include media('>medium') { */
    /* font-size: 2.4rem; */
  /* } */
}

.reset-password-note {
  font-weight: light;
  line-height: 32px;
  margin: auto;
  margin-bottom: 46px;
  max-width: 500px;

  /* @include media('>medium') { */
    max-width: 815px;
  /* } */
}

.signup-login-contact-input {
  width: 150%;
}

.outlined-input-container {
  margin: 214px 0;
}

.contact-textarea {
  border: 1px solid 'border-grey3';
  border-radius: 6px;
  color: text blue;
  font-size: 1.4rem;
  height: 145px;
  margin-bottom: 10px;
  max-width: 350px;
  padding: 15px 5.9%;
  resize: vertical;
  width: 100%;

  /* @include media('>medium') { */
    font-size: 1.6rem;
    max-width: 408px;
    padding: 15px 24px;
  /* } */

  &::placeholder {
    color: text blue;
    opacity: 1;
  }
}

.signup-login-contact-error-message {
  font-size: 1.4rem;
  color: red;
}

.forgot-password-wrapper {
  margin: 16px auto 40px;
}

.forgot-password {
  color: lightblue;
  font-family: 'auth-font';
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: underline;

  &:hover {
    color: 'light-blue';
  }
}

.signup-login-contact-button {
  background: darkblue;
  border: 0;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: bold;
  height: 45px;
  max-width: 350px;
  text-align: center;
  width: 150%;

  /* @include media('>medium') { */
    font-size: 1.6rem;
    height: 60px;
    max-width: 408px;
    padding: 0 24px;
  /* } */
}

.social-cluster-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.social-cluster-item {
  margin-right: 10px;

  &.no-right-margin {
    margin-right: 0;
  }
}

/* Auth Footer */
.footer {
  box-shadow: 4px 0px 8px rgba(0, 0, 0, 0.15);
}

.footer-top {
  padding: 70px ;

  /* @include media('>medium') { */
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    padding: 82px 'large-gutter';
  /* } */
}

.footer-logo-container {
  margin-bottom: 70px;
  display: block;

  /* @include media('>=medium', '<1001px') { */
    /* margin-right: 10%; */
  /* } */

  /* @include media('>=1001px', '<1133px') { */
    /* margin-right: 20%; */
  /* } */

  /* @include media('>=1133px') { */
    margin-right: 30%;
  /* } */
}

.footer-logo-image {
  height: 40px;
  width: 100px;

  /* @include media('>=medium') { */
    height: 50px;
    width: 122px;
  /* } */
}

.all-footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-links-container.first {
  /* &.first { */
    width: 11ch;

    /* @include media('>medium') { */
      width: 17ch;
    /* } */
  /* } */
}
.footer-links-container.second {
  /* &.second { */
    width: 16ch;

    /* @include media('>medium') { */
      width: 23ch;
    /* } */
  /* } */
}
.footer-links-container.third {
  /* &.third { */
    width: 18ch;
  /* } */
}
/* } */

.footer-heading {
  color: darkblue;
  font-weight: 'regular';
  font-family: 'roboto';
  margin: 20px 0;
  text-align: center;

  /* @include media('>medium') { */
    margin-top: 0;
    font-size: 1.7rem;
  /* } */
}

.footer-links-list {
  margin: 15px 0;
}

.footer-links-list-item,
.footer-link {
  color: black;
  font-style: normal;
  line-height: 144%;
  font-family: 'auth-font';
  list-style-type: none;

  /* @include media('>medium') { */
    font-size: 1.2rem;
    text-align: left;
  /* } */
}

.footer-links-list-item {
  margin-top: 12px;
}

.footer-link {
  display: inline-block;
  text-decoration: none;
}

.footest {
  font-family: 'roboto';
  margin-top: 70px;
  padding: 22px 'small-gutter';
  background-color: rgba(color= #6a8ba3, alpha= 0.04);

  /* @include media('>medium') { */
    padding: 27px 'large-gutter';
    padding-left: 15%;
  /* } */
}

.footest-text {
  color: purple;
}

/* ......AUTH PAGE END.... */


/* React-Paginate */
.paginationBttns {
  width: 80%;
  height: 40%;
  list-style: none;
  display: flex;
  justify-content: center; 
}

.paginationBttns a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid solid#2b2eff;
  color: #2b2eff;
  cursor: pointer;
}

.paginationBttns a:hover {
  color: white;
  background-color: #2b2eff;
}

.paginationActive a {
  color: white;
  background-color: #2b2eff;
}
/* React-Pagination ends */


.total-energy-bar-chart {
  /* background-color: white; */
  /* height: 1170px; */
  /* border-radius: 22px; */
  margin: 30px;
}

.set_target_page {
  font-family: 'Montserrat';
  font-size: medium;
  font-weight: 600;
  margin: 30px;
}

.pagination {
  display:  flex;
  margin-top: 15px;
  /* padding: 10px; */
  justify-content: space-between;
  /* margin-top: 15px; */
}

.keymetric_pagination {
  display:  flex;
  margin-top: 15px;
  margin-left: 25px;
  margin-right: 25px;
  /* padding: 10px; */
  justify-content: space-between;
}

.modal_pagination {
  display:  flex;
  margin-top: 15px;
  /* padding: 10px; */
  justify-content: space-between;
  /* margin-top: 15px; */
}

.custom-row-hover {
  width: 1039px;
}
/* .custom-row-hover td:first-child {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
 }
 
 .custom-row-hover td:last-child {
   border-top-right-radius: 20px;
   border-bottom-right-radius: 20px;
  } */

.custom-row-hover tr:hover >td  {
  border-bottom: 4px solid rgba(0, 0, 0, 0.15);
  filter: drop-shadow( rgba(0, 0, 0, 0.15) );
  /* background: unset !important; */
  opacity: 2;
  color: black;
}

.chart_buttons {
  background-color: #F2F2F8;
  width: 20%;
  height: 45px;
}

.chart_buttons:focus {
  background-color: #F1E4FF;
  color: #5C12A7;
} 